.landing {
    background-color: #282c34;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1 1 auto;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.game-area {
    height: 40%;
    width: 100%;
    color: red;
    overflow: hidden;
    position: relative;
}

.game-area-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.scrolling-image {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/images/background-cropped.png") repeat-x;
  height: 100%;
  aspect-ratio: 2240 / 221;
  background-size: auto 100%;
  animation: slide 25s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%); /* The image width */
  }
}

.landing-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.landing-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: white;
}

.landing-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
}

.landing-button {
  background-color: transparent;
  border: 1px solid hsl(159, 66%, 79%);
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 1rem 1.75rem;
  position: relative;
  color: hsl(159, 66%, 79%);
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.landing-button:hover {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: hsl(158, 15%, 25%);
}

.landing-button:active {
    transform: scale(.95);
  }

.landing-button:focus-visible {
  box-shadow: hsl(160, 7%, 16%) 0 0 0 2px, hsla(0, 0%, 100%, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

@media screen and (max-width: 800px) {
    .landing-main {
        width: 100vw;
    }
}